.not-found {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.not-found h1 {
    font-size: 160px;
}

.not-found .button {
    padding-right:  15px;
    padding-left:  15px;
}
