<section id="education">
  <include src="components/title.html" locals='{
    "title": "education"
  }'></include>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4">
    <include src="components/info.html" locals='{
      "year": "2007 - 2012",
      "place": "SD Negeri Balunglor 06",
      "position": "",
      "margin": 2
    }'></include>

    <include src="components/info.html" locals='{
      "year": "2013 - 2015",
      "place": "SMP Negeri 02 Balung",
      "position": "",
      "margin": 2
    }'></include>

    <include src="components/info.html" locals='{
      "year": "2016 - 2018",
      "place": "SMK Teknologi Balung",
      "position": "Software Engineering",
      "margin": 2
    }'></include>

    <include src="components/info.html" locals='{
      "year": "2018 - 2022",
      "place": "QODR (Quality Muslim Coder)",
      "position": "Web Developer",
      "margin": 2
    }'></include>
  </div>

  <include src="components/wave.html"></include>

</section>
