<include src="components/title.html" locals='{
  "title": "career experience"
}'></include>


<div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4">
  <include src="components/info.html" locals='{
    "year": "February 2019 - April 2019",
    "place": "Dlingo Digital Valley",
    "position": "Frontend Developer",
    "margin": 6
  }'></include>

  <include src="components/info.html" locals='{
    "year": "August 2019",
    "place": "Digital Talent Scholarship",
    "position": "Web Developer",
    "margin": 6
  }'></include>

  <include src="components/info.html" locals='{
    "year": "February 2020 - Desember 2020",
    "place": "PT. Bintang Trans Khatulistiwa",
    "position": "Web Developer",
    "margin": 6
  }'></include>
</div>

<include src="components/wave.html"></include>
