@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection,
::selection {
  color: #fff;
  background: #357efc;
}

html {
  scroll-behavior: smooth;
}

.half__background {
  background: linear-gradient(90deg, #ffffff 50%, #f5f8eb 50%);
}
